<!DOCTYPE html>
<html>
  <head>
    <title>Flip Coin Cat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flip Coin Cat</h1>
    <img src="https://turquoise-smiling-halibut-906.mypinata.cloud/ipfs/QmNtf5zbi6CuhVaGZcUf5NUTw8TXZKtU2nh5duxGhYigHM"></img>
    <div>
      <button>Head</button>
      <button>Tail</button>
    </div>
  </body>
</html>
